<mat-grid-list cols="3" rowHeight="550px">
  <mat-grid-tile class="grid-vendas" *ngFor="let produto of vetor">
    <mat-card class="card-vendas">
      <mat-card-header>
        <mat-card-title class="Title-preco">{{produto.nome}}</mat-card-title>

      </mat-card-header>
      <p>Preço de custo - {{ produto.preco }}</p>
      <img mat-card-image class="img-fluid" src="{{ produto.foto }}" alt="foto ilustrativa" />
      <mat-card-content>
        <p >A partir de {{ produto.precoFinal | currency: 'BRL' : 'symbol' : '2.0-0' }}</p>
      </mat-card-content>
      <!-- Botão Parcelamento, controlado individualmente por produto -->
      <mat-card-actions *ngIf="!produto.mostrarParcelamento">
        <button class="btn btn-primary rounded-pill align-content-lg-around" (click)="exibirParcelamento(produto)">
          Parcelamento
        </button>
      </mat-card-actions>
      <!-- Seção de Parcelamento -->
      <div class="parcelamento-div" *ngIf="produto.mostrarParcelamento">
        <mat-form-field>
          <mat-label>Parcelamento</mat-label>

          <mat-select [formControl]="produto.toppingsControl">

            <mat-option *ngFor="let topping of toppingList" [value]="topping">
              {{ topping }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p>Preço Parcelado: {{ produto.toppingsControl?.value }} de {{  produto.precoParcelado | currency: 'BRL' : 'symbol' : '2.0-0'  }}</p>
        <div>
          <button class="btn btn-secondary btn-voltar" (click)="voltarParaLista(produto)">Voltar</button>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
