mat-toolbar {
  background: #007CC9 ;

  .notification-label {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: #f44336;
    border: 4px solid #f44336;
    color: white;
    text-align: center;
  }
  &.main-header {
    padding: 0 8px;
    position: relative;
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
    z-index: 9;
    .branding {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: auto 0;
      line-height: 50px;
      padding: 0 64px 0 16px;
      color: antiquewhite;
    }
  }
}
.barra-pesquisa{
  justify-content:flex-start;
  font-size: 14px;

}

ul {
  font-size: 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.main-header2{
  display: flex;
  justify-content: space-between;
}

.main-header2 li{
  text-decoration: none;
  padding-left: 15px;
  padding-top: 15px;
}

.main-header2 ul{
  list-style: none;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}

.main-header2 h1{
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 40px;
}
.main-header2 li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.main-header2 .barra-pesquisa {
  margin-top: 5px;
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;

}


.main-header2 .barra-pesquisa button{

  border: 1px solid teal;
  height: 35px;
  border-left:  0px;
  margin-left: 20px;
}

